site_name: SAM101 LQ1 Reviewer
site_description: Systems Administration and Monitoring 101  Reviewer for Long Quiz 1 covering week 2, 3, and 4 presentations.
site_author: Yortski

repo_name: yortski/samlq1_reviewer
repo_url: https://github.com/yortski/winserver2008r2-docs

theme:
  name: material
  logo: images/yorts.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  favicon: images/yorts.png
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - content.code.copy
    - content.tabs.link
  palette:
    - scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details

nav:
  - Home: index.md
  - Week 2: week1.md
  - Week 3: week2.md
  - Week 4: week3.md

extra:
  generator: false

dev_addr: 0.0.0.0:8000